.wrapper {
    width:80%;
    margin-top: 0%;
    margin-right:auto;
    margin-left:auto;
    background-color: #ffffff;
    min-width: 960px;
    max-width: 2048px;
    /* box-shadow: 0 3px 3px rgba(66,66,66,0.3); */
    padding: 5px;
}

body {
    color: #41484f;
    background-color: #646E78;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    margin-bottom: 10px;
}

.header {
    background-color: #D1603D;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    /* padding: 3px 10px 3px 10px; */
    justify-content: space-between;
    /* background-color: ; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nameTag {
    font-size: 22px;
}

.homeButton {
    background-color: #8D98A7;
    color: 646E78;
    padding: 7px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    border-style: none;
}

.trailsButton {
    background-color: #8D98A7;
    color: 646E78;
    padding: 7px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    border-style: none;
}

.footer {
    display: flex;
    flex-direction: column;
   align-items: center;
}

.trailCardImg {
    max-width: 300px;
    height: auto;
}

.makeSmaller {
    height: 72px;
    width: auto;
}